
*.dll
311-calls/.vs/311-calls/v16/.suo
*.lock
*.ide
*.ide-wal
*.ide-shm
*.pdb
311-calls/311-calls/Class1.cs
*.cache
*.baml
*.resources
*.xml
*._
*.TXT
*.nupkg
*.p7s
*.md
*.props
*.ps1
*.settings
311-calls/311-calls/Properties/Settings.Designer.cs
*.resx
311-calls/311-calls/Properties/AssemblyInfo.cs
311-calls/311-calls/Properties/Resources.Designer.cs
*.config
311-calls/311-calls/obj/Debug/ViewData.g.i.cs
311-calls/311-calls/obj/Debug/ViewData.g.cs
311-calls/311-calls/obj/Debug/Page1.g.i.cs
311-calls/311-calls/obj/Debug/MainWindow.g.i.cs
311-calls/311-calls/obj/Debug/MainWindow.g.cs
311-calls/311-calls/obj/Debug/HomeView.g.i.cs
311-calls/311-calls/obj/Debug/HomeView.g.cs
311-calls/311-calls/obj/Debug/App.g.cs
*.lref
311-calls/311-calls/311-calls.csproj
311-calls/311-calls.sln
311-calls/311-calls/bin/Debug/311-calls.exe
*.CopyComplete
311-calls/311-calls/obj/Debug/311-calls_Content.g.i.cs
311-calls/311-calls/obj/Debug/311-calls.exe
311-calls/311-calls/obj/Debug/App.g.i.cs
311-calls/311-calls/MainBack.jpeg
311-calls/311-calls/Logo.jpg
311-calls/311-calls/Copy Always
